.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th, td {
        border: 1px solid #d9dee7;
        padding: 0.5rem;
        text-align: left;
    }

    th {
        background: #f9fafb;
    }

    .rowError {
        background-color: #FEECEC;
    }

    .rowWarning {
        background-color: #FFF9E6;
    }
    .rowInfo {
        background-color: #F1FAE8;
    }
}
